<template>
  <base-section
    id="features"
    class="grey lighten-4"
  >
    <base-section-heading title="Our Process" />

    <v-responsive
      class="mx-auto"
      max-width="1350"
    >
      <v-container fluid>
        <v-row>
          <v-col
            v-for="card in cards"
            :key="card.title"
            cols="12"
            sm="4"
            md="3"
          >
            <base-info-card
              align="center"
              v-bind="card"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-responsive>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionFeatures',

    data: () => ({
      cards: [
        {
          icon: 'mdi-code-tags-check',
          title: 'Prototyping',
          text: 'Create clickable, semi-functional prototype that allow client to visualize their concept and set proper expectation of delivery and cost.',
        },
        {
          icon: 'mdi-developer-board',
          title: 'Development',
          text: 'Our experienced team use agile approach and adapt latest web development trends to deliver highly performing websites and webstores.',
        },
        {
          icon: 'mdi-bug-check',
          title: 'Testing',
          text: 'Our quality assurance team ensures the application functions flawlessly and does regression, integration and performance testing.',
        },
        {
          icon: 'mdi-help-circle-outline',
          title: 'Support',
          text: 'Our team will make sure the client is successful with proper training and will extend support even after the application is delivered.',
        },
      ],
    }),
  }
</script>
