<template>
  <base-section id="services">
    

    <base-section-heading title="Services">
      <p>Being an end-to-end solution provider, whether you are startup or looking to expand your online presence we have afforable solution that meets your needs. We proide wide range of services includes web design & development, online stores & payment solutions, API development, Hosting & IT solutions.</p>
    </base-section-heading>

    <v-container>
      <v-row>
        <v-col
          v-for="(feature, i) in features"
          :key="i"
          cols="12"
          md="6"
        >
          <base-avatar-card
            v-bind="feature"
            align="left"
            horizontal
            :color="feature.color"
          >
            {{ feature.description }}
          </base-avatar-card>
        </v-col>
      </v-row>
    </v-container>

  </base-section>
</template>

<script>
  export default {
    name: 'SectionThemeFeatures',

    data: () => ({
      features: [
        {
          title: 'Web Design & Development',
          icon: 'mdi-application',
          color: 'deep-orange lighten-2',
          description: 'As a pioneer in web design & development, we have become the go-to knowledge resource for those looking to learn more about the keys to delivering world-class experiences to their users and customers.',
        },
        {
          title: 'Dedicated Team',
          icon: 'mdi-account-group',
          color: 'indigo lighten-2',
          description: 'We provide a dedicated team of engineers to help startups and fast moving tech companies quickly start and scale their software development needs. Our team will seamlessly integrate with your in-house engineers while using the same tools and methodologies and embracing the same mindset.',
        },
        {
          title: 'Ecommerce Solution',
          icon: 'mdi-cart',
          color: 'teal lighten-2',
          description: 'Our development team ensures your website is built with a strong business strategy and the latest cutting edge development technologies. We help deliver a comprehensive and effective e-business strategy, products and marketing tactics, design and usability, technology and security.',
        },
        {
          title: 'Mobile App development',
          icon: 'mdi-cellphone',
          color: 'green lighten-2',
          description: 'Our team helps you reach the vast audience and accelerate your business with robust and scalable mobile application development services built over Android, iOS, Xamarin, React native and flutter.',
        },
        {
          title: 'SEO optimization',
          icon: 'mdi-pencil-box-outline',
          color: 'purple lighten-2',
          description: 'We offer Search Engine Optimization and web marketing strategies to improve your website ranking with search engines. We help you finding and implementing right tools for your email marketing needs.',
        },
        {
          title: 'QA & Automation Testing',
          icon: 'mdi-bug-check',
          color: 'orange accent-2',
          description: 'We offer cost-effective quality assurance and software testing for your other web applications and software. Our experienced QA automation engineers use the newest programming software to check quality and integrity.',
        },
      ],
    }),
  }
</script>
