<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-info-card
        title="ABOUT US"
        pace="6"
      >
        At Yectra we understand the business, goals and objectives of our clients and we specialize in providing end-to-end software solutions. We put all of our technological expertise to work in customizing solutions to meet our clients requirements as we understand that each businesses have different needs and requirements. Our team of specialists consistently delivers outstanding results combing creative ideas with our vast experiance.
      </base-info-card>

      <base-business-contact dense />
    </div>
  </v-theme-provider>
</template>

<script>
  export default {
    name: 'BaseBusinessInfo',

    props: { dark: Boolean },

    data: () => ({
      business: [
        {
          icon: 'mdi-map-marker-outline',
          title: 'Address',
          text: '8553 N. Beach St. Ste. 227<br>Fort Worth, Texas 76137',
        },
        {
          icon: 'mdi-cellphone',
          title: 'Phone',
          text: '01 (800) 433 744<br>01 (800) 433 633',
        },
        {
          icon: 'mdi-email',
          title: 'Email',
          text: 'john@vuetifyjs.com<br>heather@vuetifyjs.com',
        },
      ],
    }),
  }
</script>
