<template>
  <v-form method="POST" action="https://formspree.io/maypvbez" @submit="submitForm">
    <base-info-card
      :title="title"
      space="4"
      color="primary"
    />

    <base-text-field name="name" :counter="50" :rules="nameRules" label="Your Name" required />

    <base-text-field name="email" :rules="emailRules" label="Your E-mail" required />

    <base-text-field name="subject" :rules="subjectRules" label="Subject" required />

    <base-textarea
      class="mb-6"
      name="message" :rules="messageRules" label="Message" required
    />

    <base-btn
      :color="!theme.isDark ? 'accent' : 'white'"
      outlined
      type="submit"
    >
      Send message
    </base-btn>
    <v-snackbar v-model="snackbar" :timeout="10000">
      Thank you for contacting us, will get in touch as soon as possible.
      <v-btn text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-form>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'BaseContactForm',

    // Injected from the Vuetify Themeable mixin
    inject: ['theme'],

    data: () => ({
      valid:  true,
      snackbar: false,
      title: 'MAIL US YOUR MESSAGE',
      name: '',
      email: '',
      subject: '',
      message: '',

      nameRules: [
        (v) => !!v || "Name is required",
      ],

      emailRules: [
        (v) => !!v || "Email is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid"
      ],

      subjectRules: [(v) => !!v || "Subject is required"],

      messageRules: [(v) => !!v || "Message is required"]
    }),

    methods: {
      submitForm (ev) {
        ev.preventDefault()
        const form = ev.target
        const data = new FormData(form)
        const xhr = new XMLHttpRequest()
        xhr.open(form.method, form.action)
        xhr.setRequestHeader('Accept', 'application/json')
        xhr.onreadystatechange = () => {
          if (xhr.readyState !== XMLHttpRequest.DONE) return
          if (xhr.status === 200) {
            form.reset()
            this.snackbar = true
          } 
        }
        xhr.send(data)
       
        setTimeout(() => {
          this.$emit('clearForm')
          this.snackbar = false
        }, 5000)
      }
    }
  }
</script>
